<header class="header">
    <nav class="nav container">
        <a href="{{ route('home') }}" class="logo">Designify</a>
        <ul class="nav-menu">
            <li><a href="{{ route('home') }}" class="{{ request.matchesRoute("home") ? "nav-link active" : "nav-link" }}">Home</a></li>
            <li><a href="{{ route('services') }}" class="{{ request.matchesRoute("services") ? "nav-link active" : "" }} nav-link">Services</a></li>
            <li><a href="{{ route('portfolios') }}" class="{{ request.matchesRoute("portfolios") ? "nav-link active" : "" }} nav-link">Portfolio</a></li>
            <li><a href="{{ route('contact') }}" class="{{ request.matchesRoute("contact") ? "nav-link active" : "" }} nav-link">Contact</a></li>
            <li><a href="{{ route('favorite') }}" class="{{ request.matchesRoute("favorite") ? "nav-link active" : "" }} nav-link">Wishlist (<span id="wishlist-count">0</span>)</a></li>
            <li><a href="{{ route('login') }}" class="{{ request.matchesRoute("login") ? "nav-link active" : "" }} nav-link">Sign In</a></li>
        </ul>
        <button class="nav-toggle">☰</button>
    </nav>
 </header>